{% extends 'layout/layout.html'%}

{% block title%}{{super}} | Members {%endblock%}

{% block css %}
	<link rel="stylesheet" type="text/css" href="/assets/css/bootstrap.min.css">
{% endblock%}

{% block content%}


{% load widget_tweaks %}
<section class="container" style="margin-top:10%; margin-bottom:10%">

                        <div class="main_clients_top_content">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <div class="single_right_client">
                                                <a href="http://ku.edu.af" target="_blank">
                                                 
                                                  <img src="/assets/images/members/ku.png" class="img-fluid" alt="Kabul University">
                                              
                                                </a>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="single_right_client">
                                                <a href="http://kpu.edu.af" target="_blank">
                                                 
                                                  <img src="/assets/images/members/kpu.png" class="img-fluid" alt="Kabul Poly Technique University">
                                              
                                                </a>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="single_right_client">
                                               <a href="http://hu.edu.af" target="_blank">
                                                 
                                                  <img src="/assets/images/members/herat.png" class="img-fluid" alt="Herat University">
                                              
                                                </a>
                                            </div>
                                        </div>
              
                                    </div>
                                </div>
                            </div>
                        </div>

                        <hr>


                        <div class="main_clients_top_content">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <div class="single_right_client">
                                                <a href="http://ku.edu.af" target="_blank">
                                                 
                                                  <img src="/assets/images/members/Balkh.png" class="img-fluid" alt="Balkh University">
                                              
                                                </a>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="single_right_client">
                                                <a href="http://kpu.edu.af" target="_blank">
                                                 
                                                  <img src="/assets/images/members/Bamyan.png" class="img-fluid" alt="Bamyan University">
                                              
                                                </a>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="single_right_client">
                                               <a href="http://hu.edu.af" target="_blank">
                                                 
                                                  <img src="/assets/images/members/Faryab.png" class="img-fluid" alt="Faryab University">
                                              
                                                </a>
                                            </div>
                                        </div>
              
                                    </div>
                                </div>
                            </div>
                        </div>



                                               <hr>


                        <div class="main_clients_top_content">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <div class="single_right_client">
                                                <a href="http://ku.edu.af" target="_blank">
                                                 
                                                  <img src="/assets/images/members/Jawzjan.png" class="img-fluid" alt="Balkh University">
                                              
                                                </a>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="single_right_client">
                                                <a href="http://kpu.edu.af" target="_blank">
                                                 
                                                  <img src="/assets/images/members/SREU.jpg" class="img-fluid" alt="Bamyan University">
                                              
                                                </a>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="single_right_client">
                                               <a href="http://hu.edu.af" target="_blank">
                                                 
                                                  <img src="/assets/images/members/NU.jpg" class="img-fluid" alt="Faryab University">
                                              
                                                </a>
                                            </div>
                                        </div>
              
                                    </div>
                                </div>
                            </div>
                        </div>

                        <hr>

                                                <div class="main_clients_top_content">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <div class="single_right_client">
                                                <a href="http://ku.edu.af" target="_blank">
                                                 
                                                  <img src="/assets/images/members/Baghlan.png" class="img-fluid" alt="Balkh University">
                                              
                                                </a>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="single_right_client">
                                                <a href="http://kpu.edu.af" target="_blank">
                                                 
                                                  <img src="/assets/images/members/Nangarhar.jpg" class="img-fluid" alt="Bamyan University">
                                              
                                                </a>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="single_right_client">
                                               <a href="http://hu.edu.af" target="_blank">
                                                 
                                                  <img src="/assets/images/members/Takhar.jpg" class="img-fluid" alt="Faryab University">
                                              
                                                </a>
                                            </div>
                                        </div>
              
                                    </div>
                                </div>
                            </div>
                        </div>


                        <hr>

                                                <div class="main_clients_top_content">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <div class="single_right_client">
                                                <a href="http://ku.edu.af" target="_blank">
                                                 
                                                  <img src="/assets/images/members/badakhshan.png" class="img-fluid" alt="Balkh University">
                                              
                                                </a>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="single_right_client">
                                                <a href="http://kpu.edu.af" target="_blank">
                                                 
                                                  <img src="/assets/images/members/ghazni.png" class="img-fluid" alt="Bamyan University">
                                              
                                                </a>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="single_right_client">
                                               <a href="http://hu.edu.af" target="_blank">
                                                 
                                                  <img src="/assets/images/members/kums.jpg" class="img-fluid" alt="Faryab University">
                                              
                                                </a>
                                            </div>
                                        </div>
              
                                    </div>
                                </div>
                            </div>
                        </div>

                        <hr>


                                                <div class="main_clients_top_content">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <div class="single_right_client">
                                                <a href="http://ku.edu.af" target="_blank">
                                                 
                                                  <img src="/assets/images/members/paktya.png" class="img-fluid" alt="Balkh University">
                                              
                                                </a>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="single_right_client">
                                                <a href="http://kpu.edu.af" target="_blank">
                                                 
                                                  <img src="/assets/images/members/parwan.png" class="img-fluid" alt="Bamyan University">
                                              
                                                </a>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="single_right_client">
                                               <a href="http://hu.edu.af" target="_blank">
                                                 
                                                  <img src="/assets/images/members/szu.jpg" class="img-fluid" alt="Faryab University">
                                              
                                                </a>
                                            </div>
                                        </div>
              
                                    </div>
                                </div>
                            </div>
                        </div>


</section>


{% endblock%}