{% block content%}
<section id="home" class="home">
            <div class="home_overlay">
                <div class="container">
                    <div class="row">
                        <div class="main_slider_area">
                            <div class="slider">
                                <div class="single_slider">
                                    <h3>AFGHANISTAN RESEARCH & EDUCATION NETWORK</h3>
                                    <p>Research  -  Education  -  Network - Support</p>
                                    <div class="single_slider_img_icon">
                                        <img src="/assets/images/afgren_banner.jpg" alt="" />
                                    </div>
                                    <div class="col-sm-6 col-sm-offset-3">
       <!--                                  <div class="home_searce_domain_area">
                                            <div class="main_home_searce_domain_content">
                                                <input type="text" placeholder="Type Your Keyword..." />
                                                <select class="form-control">
                                                    <option>Research</option>
                                                    <option>News</option>
                                                    <option>Announcement</option>
                                                </select>
                                                <input type="submit" value="Search Information" class="fa fa-search fa-3x" />
                                            </div>
                                        </div>
                                    </div> -->
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section><!-- End of Banner Section -->
        
 {% endblock%}       