<section id="clients" class="clients">
            <div class="container">
                <div class="row">
                    <div class="main_clients_area">

                        <div class="main_clients_top_content">
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="client_left_content">
                                        <h2>Our Co-Workers</h2>
                                        <p>This is Photoshop's version  of Lorem Ipsum. 
                                            Proin gravida nibh vel velit auctor aliquet.
                                            Aenean sollicitudin, lorem quis bibendum.</p>
                                    </div>
                                </div>
                                <div class="col-sm-8">
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <div class="single_right_client">
                                                <a href="http://myren.net.my" target="_blank"><img src="assets/images/myren.jpg" alt="" /></a>
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <div class="single_right_client">
                                                <a href="http://myren.net.my" target="_blank"><img src="assets/images/myren.jpg" alt="" /></a>
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <div class="single_right_client">
                                                <a href="http://myren.net.my" target="_blank"><img src="assets/images/myren.jpg" alt="" /></a>
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <div class="single_right_client">
                                                <a href="http://myren.net.my" target="_blank"><img src="assets/images/myren.jpg" alt="" /></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="main_clients_bottom_content">
                            <div class="row">
                                <div class="col-sm-4">

                                    <div class="single_client_bottom">
                                        <p>“ This is Photoshop's version  of Lorem Ipsum. 
                                            Proin gravida nibh vel velit auctor aliquet. 
                                            Aenean sollicitudin, lorem quis bibendum auctor, 
                                            nisi elit consequat ipsum, nec sagittis sem nibh id elit. ”</p>
                                        <a href="">-Anna</a>
                                        <div class="singel_client_bottom_img">
                                            <img src="assets/images/cl1.jpg" alt="" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="single_client_bottom">
                                        <p>“ This is Photoshop's version  of Lorem Ipsum. 
                                            Proin gravida nibh vel velit auctor aliquet. 
                                            Aenean sollicitudin, lorem quis bibendum auctor, 
                                            nisi elit consequat ipsum, nec sagittis sem nibh id elit. ”</p>
                                        <a href="">-Anna</a>
                                        <div class="singel_client_bottom_img">
                                            <img src="assets/images/cl1.jpg" alt="" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="single_client_bottom">
                                        <p>“ This is Photoshop's version  of Lorem Ipsum. 
                                            Proin gravida nibh vel velit auctor aliquet. 
                                            Aenean sollicitudin, lorem quis bibendum auctor, 
                                            nisi elit consequat ipsum, nec sagittis sem nibh id elit. ”</p>
                                        <a href="">-Anna</a>
                                        <div class="singel_client_bottom_img">
                                            <img src="assets/images/cl1.jpg" alt="" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
