{% block content%}
        <section id="feature" class="feature">
            <div class="feature_overlay">
                <div class="container">
                    <div class="row">
                        <div class="main_feature_content_area">
                            <div class="col-sm-12">
                                <div class="heading_title text-center">
                                    <h2>Our Features</h2>
                                    <p>Our Best Features</p>
                                </div>
                            </div>

                            <div class="main_feature_content text-center">
                                <div class="col-sm-3">
                                    <div class="single_feature">
                                        <div class="single_feature_img">
                                            <img src="{% static 'images/ft1.png' %}" alt="" />
                                        </div>
                                        <div class="separator"></div>
                                        <h3>Live Support</h3>
                                        <p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet.</p>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="single_feature">
                                        <div class="single_feature_img">
                                            <img src="{% static 'images/ft2.png' %}" alt="" />
                                        </div>
                                        <div class="separator"></div>
                                        <h3>Cloud Technology</h3>
                                        <p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet.</p>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="single_feature">
                                        <div class="single_feature_img">
                                            <img src="{% static 'images/ft3.png' %}" alt="" />
                                        </div>
                                        <div class="separator"></div>
                                        <h3>Hi Tech Database</h3>
                                        <p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet.</p>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="single_feature">
                                        <div class="single_feature_img">
                                            <img src="{% static 'images/ft4.png' %}" alt="" />
                                        </div>
                                        <div class="separator"></div>
                                        <h3>Live Monitoring</h3>
                                        <p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>


 {% endblock%}       