{%block content %}

        <section id="contact" class="contact">
            <div class="container">
                <div class="row">
                    <div class="main_contact">

                        <div class="contactwithmap_content">

                            <div class="contact_overlay">
                                <div class="col-sm-8 col-xs-12">
                                    <div class="locations_map">
                                        <img src="assets/images/mapbg.png" alt="" />
                                    </div>
                                </div>
                                <div class="col-sm-3 col-xs-12">
                                    <div class="contactwithmap_menu">
                                        <h2>Navigation</h2>
                                        <ul class="footer_menu">
                                            <li><a href="#home">Home</a></li>
                                            <li><a href="#abouts">Supports</a></li>
                                            <li><a href="#pricing">Publications</a></li>
                                            <li><a href="#tours">Articles</a></li>
                                            <li><a href="#contact">Services</a></li>

                                        </ul>

                                        <div class="contactwithmap_socail_bookmark fa-3x">
                                            <a href=""><i class="fa fa-twitter fa-3x"></i></a>
                                            <a href=""><i class="fa fa-youtube fa-3x"></i></a>
                                            <a href=""><i class="fa fa-google-plus fa-3x"></i></a>
                                            <a href=""><i class="fa fa-facebook fa-3x"></i></a>
                                        </div>

                                    </div>


                                </div>                                
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </section><!-- End of contact With Map Section -->



        <footer id="footer" class="footer">
            <div class="container">
                <div class="row">
                    <div class="main_footer text-center">
                        <p>Made with <i class="fa fa-heart"></i> by <a href="https//mohbadar.github.io">Mohammad Badar Hashimi</a>2018. All Rights Reserved</p>
                    </div>
                </div>
            </div>
        </footer><!-- End of footer section -->

        <!-- STRAT SCROLL TO TOP -->

        <div class="scrollup">
            <a href="#"><i class="fa fa-chevron-up"></i></a>
        </div>


{% endblock%}