      {% block content%}
        <section id="abouts" class="webhost_service">
            <div class="container-fluid">
                <div class="row">
                    <div class="main_webhost_service_area text-center">
                        <div class="col-sm-6 no-padding">
                            <div class="single_webhost_left">
                                <div class="row">
                                    <div class="col-sm-8 col-sm-offset-2">
                                        <div class="single_webhost_left_img">
                                            <img src="/assets/images/icon1.png" alt="" />
                                        </div>
                                        <div class="single_webhost_left_content">
                                            <h3>Internet Services</h3>
                                            <p>Afghanistan Research and Education Network (AfgREN) is Afghanistan's national research and education network (REN). Which provides internet access for universities.</p>
                                            <a href="{% url 'about' %}" class="btn">More</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 no-padding">
                            <div class="single_webhost_right">
                                <div class="row">
                                    <div class="col-sm-8 col-sm-offset-2">
                                        <div class="single_webhost_right_img">

                                            <h1>Research</h1>
                                        </div>
                                        <div class="single_webhost_right_content">
                                            <!-- <h3>#1 Training Services</h3> -->
                                            <p> <b>AfgREN</b> is a project from Higher Education ministry of Afghanistan that aims to implement, manage and extend sustainable e-Infrastructures dedicated for the research and education communities and to boost scientific research and cooperation in member Universities through the provision of world-class e-Infrastructures and e-services.</p>
                            
                                            <a href="{% url 'about' %}" class="btn">More</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

 {% endblock%}       